.button {
  width: 40px;
  height: 40px;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e0e0e0;
  transition:
    background-color 0.5s,
    border-color 0.5s;
}

.button:hover {
  background-color: #a0a0a0;
  border-color: #e0e0e0;
  cursor: pointer;
}

.toggled {
  background-color: #d9695a;
  border-color: #e0e0e0;
  color: white;
}

.toggled:hover {
  background-color: #eeaa9f;
  border-color: #e0e0e0;
  cursor: pointer;
}
