.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate {
  --outline-color: #e0e0e0;
  position: absolute;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 var(--outline-color),
    1px -1px 0 var(--outline-color),
    -1px 1px 0 var(--outline-color),
    1px 1px 0 var(--outline-color);
}

.toggled {
  --outline-color: #d9695a;
  position: absolute;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 var(--outline-color),
    1px -1px 0 var(--outline-color),
    -1px 1px 0 var(--outline-color),
    1px 1px 0 var(--outline-color);
}
