.container {
  --size: 30px;
  --border-radius: 5px;
  --border-color: #606060;
  display: flex;
  align-items: center;
}

.input {
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  box-shadow: none;
  border-right-style: none;
  font-size: 16px;
  padding: 0 8px;
  height: var(--size);
}

.icon {
  width: 16px;
}

.button {
  width: calc(var(--size) + 3px);
  height: var(--size);
  padding: 2px;
  border: 1px solid var(--border-color);
  box-shadow: none;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}
